* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
}
h2{
    text-align:center;
}  
h1{
    text-align:center;
}  
mark{
    background-color: #FFFF00;
}
.container {
    display: flex;
    width: 100%;
    margin-top:60px;
}

.sidenav {
    width: 200px;
    height: 100vh;
    background-color: #4169E1;
    color: white;
    padding: 20px;
    position: relative;
    flex-shrink: 0;
}

.main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.main ul{
    padding: 35px 0;
    list-style: circle;
    padding-inline-start: 40px;
    margin-right: 10px;
}
.main ul li{
    padding: 5px 0;
}
.sidenav ul {
    list-style: none;
    padding: 0;
}

.sidenav ul li {
    padding: 10px 0;
}

.sidenav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidenav ul li a:hover {
    background-color: #4169E1;
    padding-left: 5px;
}
